{% extends "base.html" %}

{% block title %}
  Odzyskiwanie hasla
{% endblock %}

{% block content %}
  <h1>Odzyskiwanie hasla</h1>
  {% if validlink %}
    <p>
      Dwukrotnie wpisz nowe haslo, aby je potwierdzic.
    </p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>
            <input type="submit" value="Zmien haslo" />
        </p>
    </form>
  {% else %}
    <p>
      Link do zmiany hasla jest nieprawidlowy, prawdopodobnie dlatego, ze zostal juz uzyty. Prosze popros o ponowne wyslanie linku do zmiany hasla.
    </p>
  {% endif %}
{% endblock %}